<%= form_for([@battery, @battery_weekly_test]) do |f| %>
	<% @banks.each_with_index do |b,i| %>
	<div><b> Bank No. <%= i + 1 %></b></div>
	<div class="table_left"> S.N </div>
	<div class="table_right"> Per Cell Voltage, V	</div>
	<div style="border: 1px solid; width: 460px; text-align: center"> Visual Inspection	</div>
  	<% b.cells.each_with_index do |cell, index| %>
		<%= fields_for "cells[#{cell.id}]", cell do |g| %>
     		<div class="table_left" style="height: 25px"> <%= index + 1 %> </div>
			<div class="table_right"> <%= g.text_field :cell_voltage, :size => 10 %> </div>
			<div style="border: 1px solid; width: 460px"> <%= g.text_field :visual_inspection, :size => 12 %> </div>
	     	<%= g.hidden_field :cell_id, :value => cell.id %>
	     	<%= g.hidden_field :bank_id, :value => b.id %>
	  	<% end %>
	<% end %>
	<% end %>
	<p> <%= f.submit "Submit Report" %> </p>
<% end %>

