<p id="notice"><%= notice %></p>

<p>
  <b>Company name:</b>
  <%= @generator.company_name %>
</p>

<p>
  <b>Model no:</b>
  <%= @generator.model_no %>
</p>

<p>
  <b>Type:</b>
  <%= @generator.type %>
</p>

<p>
  <b>Sound level:</b>
  <%= @generator.sound_level %>
</p>

<p>
  <b>Engine manufacturer:</b>
  <%= @generator.engine_manufacturer %>
</p>

<p>
  <b>Engine model no:</b>
  <%= @generator.engine_model_no %>
</p>

<p>
  <b>Cooling type:</b>
  <%= @generator.cooling_type %>
</p>

<p>
  <b>Alternator manufacturer:</b>
  <%= @generator.alternator_manufacturer %>
</p>

<p>
  <b>Alternator model no:</b>
  <%= @generator.alternator_model_no %>
</p>

<p>
  <b>Engine oil type:</b>
  <%= @generator.engine_oil_type %>
</p>

<p>
  <b>Oil sumo capacity:</b>
  <%= @generator.oil_sumo_capacity %>
</p>

<p>
  <b>Fuel filter:</b>
  <%= @generator.fuel_filter %>
</p>

<p>
  <b>Sec fuel filter:</b>
  <%= @generator.sec_fuel_filter %>
</p>

<p>
  <b>Air filter:</b>
  <%= @generator.air_filter %>
</p>

<p>
  <b>Water filter:</b>
  <%= @generator.water_filter %>
</p>

<p>
  <b>Genset length:</b>
  <%= @generator.genset_length %>
</p>

<p>
  <b>Genset height:</b>
  <%= @generator.genset_height %>
</p>

<p>
  <b>Genset weight:</b>
  <%= @generator.genset_weight %>
</p>

<p>
  <b>Starter battery capacity:</b>
  <%= @generator.starter_battery_capacity %>
</p>

<p>
  <b>Control panel length:</b>
  <%= @generator.control_panel_length %>
</p>

<p>
  <b>Control panel width:</b>
  <%= @generator.control_panel_width %>
</p>

<p>
  <b>Control panel height:</b>
  <%= @generator.control_panel_height %>
</p>

<p>
  <b>Engine serial no:</b>
  <%= @generator.engine_serial_no %>
</p>

<p>
  <b>Alternator serial no:</b>
  <%= @generator.alternator_serial_no %>
</p>

<p>
  <b>Eqp code:</b>
  <%= @generator.eqp_code %>
</p>

<p>
  <b>System type:</b>
  <%= @generator.system_type_id %>
</p>

<p>
  <b>Station:</b>
  <%= @generator.station_id %>
</p>

<p>
  <b>Installation team:</b>
  <%= @generator.installation_team %>
</p>

<p>
  <b>First installation date:</b>
  <%= @generator.first_installation_date %>
</p>


<%= link_to 'Edit', edit_generator_path(@generator) %> |
<%= link_to 'Back', generators_path %>
