<%= form_for(@station) do |f| %>
  <% if @station.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@station.errors.count, "error") %> prohibited this station from being saved:</h2>

      <ul>
      <% @station.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label "Incharge name" %><br />
    <%= f.text_field :inc_name %>
  </div>
  <div class="field">
    <%= f.label "Incharge cell number " %><br />
    <%= f.text_field :inc_cell %>
  </div>
	<div class="field">
    <%= f.label :regional_directorate %><br />
   	<%= f.select :regional_directorate_id, options_from_collection_for_select(RegionalDirectorate.all,"id","code", @station.new_record? ? regional_directorates.first : @station.regional_directorate.id) %>  
	</div>

	<div class="field">
    <%= f.label :Accounting_Office %><br />
		<%= f.select :accounting_office_id , options_from_collection_for_select(@station.new_record? ? RegionalDirectorate.first.accounting_offices : @station.regional_directorate.accounting_offices, "id", "name", @station.new_record? ? RegionalDirectorate.first.accounting_offices.first : @station.accounting_office.id ) %>
	</div>
    
	<div class="field">
    <%= f.label "Incharge address" %><br />
    <%= f.text_field :inc_address %>
  </div>
  <div class="field">
    <%= f.label :remarks %><br />
    <%= f.text_area :remarks, :rows => 8, :cols => 43 %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>


<script type = "text/javascript">
	$(document).ready(function() {
		$("#station_regional_directorate_id").change(function() {
			listAccOffices($("#station_regional_directorate_id option:selected").val(), "station_add");
		});
		
	});
	</script>

