<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @station.name %>
</p>

<p>
  <b>Inc name:</b>
  <%= @station.inc_name %>
</p>

<p>
  <b>Inc cell:</b>
  <%= @station.inc_cell %>
</p>

<p>
  <b>Inc address:</b>
  <%= @station.inc_address %>
</p>

<p>
  <b>Remarks:</b>
  <%= @station.remarks %>
</p>

<%= link_to 'Edit', edit_station_path(@station) %> |
<%= link_to 'Back', stations_path %>
