<%= form_for(@bank) do |f| %>
  <% if @bank.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@bank.errors.count, "error") %> prohibited this bank from being saved:</h2>

      <ul>
      <% @bank.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :total_voltage %><br />
    <%= f.text_field :total_voltage %>
  </div>
  <div class="field">
    <%= f.label :visual_inpsection %><br />
    <%= f.text_area :visual_inpsection %>
  </div>
  <div class="field">
    <%= f.label :cells %><br />
    <%= f.text_area :cells %>
  </div>
  <div class="field">
    <%= f.label :battery_id %><br />
    <%= f.number_field :battery_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
