<!-- table header stuff here -->
Users

<% @users.each do |u| %>
    <div><%= link_to_if(can?(:read, User), "#{u.email}", user_path(u.id)) {} %></div>
    <div><%= "#{u.email}" %></div>
    <div><%= "#{u.roles.collect{|r| r.name}}" %></div>
    <div><%= link_to_if(can?(:edit, User), "Edit", edit_user_path(u.id)) {} %></div>
    <div><%= link_to_if(can?(:delete, u), "Delete", u, :confirm => "Are you sure?", :method => :delete) {} %></div>
<% end %>
