<h3><%#= @user.name %></h3>
 
<%= link_to_if(can?(:update,@user), "Edit", edit_user_path(@user)) %> |
<%= link_to_if(can?(:delete, @user), "Delete", user_path(@user), :confirm => "Are you sure?", :method => :delete) {} %>
 
<table class="one-column-emphasis">
	<tbody>
		<tr>
			<td class="oce-first">Email:</td>
			<td><%= @user.email %></td>
		</tr>
		<tr>
			<td class="oce-first">Full name:</td>
			<td><%= @user.full_name %></td>
		</tr>
		<tr>
			<td class="oce-first">Role:</td>
			<td><%= @user.roles.first.name %></td>
		</tr>
		<tr>
			<td class="oce-first">Employee ID :</td>
			<td> <%= @user.emp_id %> </td>
		</tr>
		<tr>
			<td class="oce-first">Designation :</td>
			<td> <%= @user.designation %> </td>
		</tr>
		<tr>
		<tr>
			<td class="oce-first">Cell Number :</td>
			<td> <%= @user.cell_no %> </td>
		</tr>
		<tr>
			<td class="oce-first">Working Office :</td>
			<td> <%= @user.working_office %> </td>
		</tr>

	<% if can?(:see_timestamps,User) %>
		<tr>
			<td class="oce-first">Created at:</td>
			<td><%= @user.created_at %></td>
		</tr>
		<tr>
			<td class="oce-first">Last Sign In:</td>
			<td><%= @user.last_sign_in_at %></td>
		</tr>
		<tr>
			<td class="oce-first">Sign In Count:</td>
			<td><%= @user.sign_in_count %></td>
		</tr>
		<tr>
			<td class="oce-first">Stations assigned :</td>
			<td> <%= @user.stations.pluck(:name).join(",") %> </td>
		</tr>

	<% end %>
	</tbody>
</table>

