<%= form_for([@battery, @battery_daily_test]) do |f| %>
  <% @banks.each_with_index do |bank, i| %>
	<b> Bank No : <%= i + 1 %> </b> 
     <%= fields_for "banks[#{bank.id}]" do |g| %>
     	<div class="field">
    		<%= g.label :total_voltage %> <br />
    		<%= g.text_field :total_voltage %> V 
  		</div>
  		<div class="field">
    		<%= g.label :visual_inspection %><br />
    		<%= g.text_field :visual_inspection %>
  		</div>
    	<%= g.hidden_field :bank_id, :value => bank.id %>
  <% end %>
  <% end %>
		<p> <%= f.submit "Submit Report" %> </p>
<% end %>

