<%= form_for([@station, @battery]) do |f| %>
  <% if @battery.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@battery.errors.count, "error") %> prohibited this battery from being saved:</h2>

      <ul>
      <% @battery.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :system_type %><br />
    <%= f.collection_select :system_type_id , @system_types, :id, :name %>

  </div>
  
  <div class="field">
    <%= f.label "Battery Model No." %><br />
    <%= f.collection_select :battery_model_id , @battery_models, :id, :name %>
  </div>
  
  <div class="field">
    <%= f.label "No of banks" %> * <br />
    <%= f.number_field :bank_no, :size => 30 %>
  </div>
  <div class="field">
    <%= f.label :installation_date %><br />
    <%= f.date_select :installation_date, :size => 30 %>
  </div>
  <div class="field">
    <%= f.label :fist_installation_date %><br />
    <%= f.date_select :fist_installation_date, :size => 30 %>
  </div>
  <div class="field">
    <%= f.label :installation_team %><br />
    <%= f.text_field :installation_team, :size => 30 %>
  </div>

	<div id="batt_supplier_details" class="separator">
		<b>Supplier and local agent details </b><span class="toggle">[ - ]</span>
		<div class="contents" style="display:non/e">
			<div class="field">
  		  <%= f.label "Supplier Company Name" %> * <br />
  		  <%= f.text_field :supp_company_name, :size => 30 %>
  		</div>
  		<div class="field">
   		 	<%= f.label "Supplier Company Address" %><br />
   		 	<%= f.text_field :supp_company_address, :size => 30 %>
  		</div>
  		<div class="field">
   		 	<%= f.label "Supplier Company Phone" %><br />
   		 	<%= f.text_field :supp_company_phone, :size => 30 %>
  		</div>
  		<div class="field">
   		 	<%= f.label "Supplier Company Fax" %><br />
   		 	<%= f.text_field :supp_company_fax, :size => 30 %>
  		</div>
  		<div class="field">
   		 	<%= f.label "Supplier Remarks" %><br />
   		 	<%= f.text_area :supp_remarks, :rows => 8, :cols => 43 %>
  		</div>
  		<div class="field">
   		 	<%= f.label "Current Local Agent Name" %><br />
   		 	<%= f.text_field :curr_local_agent_name, :size => 30 %>
  		</div>
			<div class="field">
   		 	<%= f.label "Local Agent Contact Person" %><br />
   		 	<%= f.text_field :local_agent_contact_person, :size => 30 %>
  		</div>
			<div class="field">
   		 	<%= f.label "Local Agent Contact Person mobile no" %><br />
   		 	<%= f.text_field :local_agent_mobile, :size => 30 %>
  		</div>
			<div class="field">
   		 	<%= f.label "Local Agent Office Phone no" %><br />
   		 	<%= f.text_field :local_agent_office_phone, :size => 30 %>
  		</div>
			<div class="field">
   		 	<%= f.label "Local Agent Office Fax no" %><br />
   		 	<%= f.text_field :local_agent_office_fax, :size => 30 %>
  		</div>
		</div>	 
	</div>

	  	
  <div class="field">
    <%= f.label :remarks %><br />
    <%= f.text_area :remarks, :rows => 8, :cols => 43 %>
  </div>
 		<%= f.hidden_field :station_id, :value => @station.id %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<script type="text/javascript">

	// Observer to display battery dimensions on click
	$("#batt_supplier_details span").click(function() {
		$("#batt_supplier_details div.contents").is(":visible") ? $(this).html("[ + ]") : $(this).html("[ - ]");
		$("#batt_supplier_details div.contents").slideToggle('slow');
	});
	
	// Show installation team by name
	var prePopulateData = <%= @users %>

	$("#battery_installation_team").tokenInput("/users?from=team",{hintText: "Enter name here", theme: "facebook", 	
		propertyToSearch: "name_emp_id", prePopulate: prePopulateData});
</script>



