<%#= render :file => 'stations_path(@station)' %>
<div id = "stations_overview">
	
	<h1>General information of <%= @station.name %> </h1>
	
	<div id="box">
	  <div class="leftdiv">Incharge name</div>
	  <div class="rightdiv">: <%= @station.inc_name %></div><br />
	  
	  <div class="leftdiv">Incharge cell number</div>
	  <div class="rightdiv">: <%= @station.inc_cell %></div><br />
	  
	  <div class="leftdiv">Incharge Address</div>
	  <div class="rightdiv">: <%= @station.inc_address %></div><br />
	  
	  <div class="leftdiv">Regional Directorate</div>
	  <div class="rightdiv">: <%= @station.regional_directorate.name %></div><br />
	  
	  <div class="leftdiv">Zone/ District/ City</div>
	  <div class="rightdiv">: <%= @station.regional_directorate.zone %>, <%= @station.regional_directorate.district %>, <%= @station.regional_directorate.city %></div><br />
	  
	  <div class="leftdiv">Remarks</div>
	  <div class="rightdiv">: <%= @station.remarks %></div><br />
  	
	</div>
</div>
<div class="cleardiv"></div>

<%= tabs %>

<b id="notice"><%= notice %></b>
<h1>Listing batteries of station <%= @station.name %></h1>

<table>
  <tr>
    <th>System</th>
    <th>Company</th>
    <th>Bank No</th>
    <th>Capacity</th>
    <th>Install Date</th>
    <th>First Install Date</th>
    <th>Team</th>
    <th>Remarks</th>
    <th>Status</th>
    <th></th>
    <th></th>
  </tr>

<% @station.batteries.each do |battery| %>
  <tr>
    <td><%= battery.system_type.name %></td>
    <td><%= battery.company_name %></td>
    <td><%= battery.bank_no %></td>
    <td><%= battery.capacity %></td>
    <td><%= battery.installation_date %></td>
    <td><%= battery.fist_installation_date %></td>
    <td><%= battery.installation_team %></td>
    <td><%= battery.remarks %></td>
    <td><%#= link_to 'Show', battery %></td>
    <td><%= link_to 'Edit', edit_station_battery_path(@station, battery) %></td>
    <td><%= link_to 'Destroy', station_battery_path(@station, battery), method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Battery', new_station_battery_path(@station) %>
