<h1>Listing batteries of station <%= @station.name %></h1>

<table>
  <tr>
    <th>System</th>
    <th>Company</th>
    <th>Bank No</th>
    <th>Capacity</th>
    <th>Install Date</th>
    <th>First Install Date</th>
    <th>Team</th>
    <th>Remarks</th>
    <th>Status</th>
		 <th></th>
    <th></th>
		 <th></th>
    <th></th>
  </tr>

<% @station.batteries.each do |battery| %>
  <tr>
    <td><%= battery.system_type.name %></td>
    <td><%= battery.company_name %></td>
    <td><%= battery.bank_no %></td>
    <td><%= battery.capacity %></td>
    <td><%= battery.installation_date %></td>
    <td><%= battery.fist_installation_date %></td>
    <td><%= battery.installation_team %></td>
    <td><%= battery.remarks %></td>
		<td></td>
		<% if battery.daily_test_report_entered? %>
			<td> <%= link_to "Daily test report entered", battery_battery_daily_test_path(battery, battery.battery_daily_tests.last) %> </td>
		<% else %>
				<td><%= link_to 'Daily test report entry', new_battery_battery_daily_test_path(battery) %></td>
		<% end %>
	
		<% if battery.weekly_test_report_entered? %>
			<td> <%= link_to "Weekly test report entered", battery_battery_weekly_test_path(battery, battery.battery_weekly_tests.last) %> </td>
		<% else %>
				<td><%= link_to 'Weekly test report entry', new_battery_battery_weekly_test_path(battery) %></td>
		<% end %>		
		
    <td><%= link_to 'Edit', edit_station_battery_path(@station, battery) %></td>
    <td><%= link_to 'Delete', station_battery_path(@station, battery), method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Battery', new_station_battery_path(@station) %>
