<!DOCTYPE html>
<html>
<head>
  <title>Power Information Management System</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>

<body>
<%= render :partial => "layouts/header" %>
<div id="container">
	<% if  user_signed_in? %>
		<%= render :partial => "layouts/sidebar" %>
	<% end %>

	<div id="content">
		<%= render :partial => "layouts/station_brief" %>
		<%= tabs %>
		<div id ="tabbed_content">
			<%= yield %>
		</div>
	</div>	

</div>

</body>

</html>
